@import url('https://fonts.googleapis.com/css2?family=Belleza&family=El+Messiri:wght@400;500;600;700&display=swap');

*{
  list-style: none;
  font-family: 'Frank Ruhl Libre', serif;
  font-family: 'El Messiri', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, li, span, p {
  color: #3f3730;
}

a:link {
  text-decoration: none;
  color: #3f3730;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: #3f3730;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #3f3730;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  color: #3f3730;
  cursor: pointer;
}

.devider {
  margin-bottom: 40px;
}

.container {
  padding: 40px 10%;
}

.title{
  text-align: center;
  color: #3f3730;
}

.titleDescription {
  text-align: center;
  color: #3f3730;
  margin: 5px;
}

.about {
  display: flex;
}

.aboutImgContainer {
  width: 50%;
}

.aboutImg {
  display: block;
  margin-left: auto;
  width:500px;
}

.aboutImg2 {
  display: block;
  margin-right: auto;
  width:500px;
}

.aboutTextContainer {
  width: 50%;
  color: #3f3730;
}

.aboutTextContainer2 {
  width: 50%;
  color: #3f3730;
}

.aboutTextTitle {
  text-align: left;
  color: #3f3730;
  margin: 20px;
}

.aboutTextTitle2 {
  text-align: right;
  color: #3f3730;
  margin: 20px;
}

.aboutText{
  text-align: justify;
  color: #3f3730;
  margin: 20px;
  width: 480px;
}

.aboutText2{
  text-align :right;
  text-align: justify;
  color: #3f3730;
  width: 480px;
  margin-left: auto;
  margin-right: 20px;
}

.mapContainer {
  margin-right: 50px;
  margin-left: auto;
}

.contactContainer{
  width: 50%;
}

.contactTitle{
  text-align: left;
  color: #3f3730;
  margin-bottom: 20px;
}

.contactIcon {
  margin-bottom: -5px;
}

.contactLi{
  margin-bottom: 10px;
  color: #3f3730;
}

.goBack {
  margin: 50px;
  font-size: 20px;
  color: #3f3730;
  font-weight: 700;
  cursor: pointer;
}

.signUpContainer {
  position: fixed;
  width: 700px;
  height: 460px;
  top: calc(50vh - 230px);
  left: calc(50vw - 350px);
  background: #bfac93;
  box-shadow: 0px 0px 10px #4e3b2bd1;
}

.successStatus {
  position: fixed;
  top: calc(50vh + 270px);
  text-align: center;
  width: 700px;
}

.loginContainer {
  position: fixed;
  width: 700px;
  height: 380px;
  top: calc(50vh - 230px);
  left: calc(50vw - 350px);
  background: #bfac93;
  box-shadow: 0px 0px 10px #4e3b2bd1;
}

.LoginSignUpButtonContainer {
  display: flex;
}

.LoginSignUpButtonNotActive{
  width: 50%;
  border: none;
  font-size: 30px;
  padding: 20px;
  color: #bfac93;
  background: #3f3730;
  cursor: pointer;
}

.LoginSignUpButtonActive{
  width: 50%;
  border: none;
  font-size: 30px;
  padding: 20px;
  background: #bfac93;
  color: #3f3730;
  cursor: pointer;
}

.banStatus {
  position: fixed;
  top: calc(50vh + 200px);
  text-align: center;
  width: 700px;
  color: #3f3730;
}

.homeGenreName {
  color: #3f3730;
  font-size: 27px;
}

.homeBooksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 10px 0px 50px 0px;
}

.homeBookCard {
  width: 280px;
  margin: 10px;
}

.cardImg {
  object-fit: cover;
  width: 250px;
  height: 300px;
  margin: 5px;
  padding: 1px;
  border: 7px double #3f3730;
}

.cardName {
  text-align: center;
  color: #3f3730;
  font-size: 22px;
}

.cardScoreContainer {
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
}

.cardButton {
  border: none;
  background: #3f3730;
  color: #bfac93;
  font-size: 16px;
  padding: 9.5px;
  margin: auto;
  font-weight: 700;
  cursor: pointer;
}

.bookContainer {
  display: flex;
}

.bookImgContainer {
  width: 300px;
}

.bookImg {
  object-fit: cover;
  width: 250px;
  height: 300px;
  padding: 1px;
  border: 7px double #3f3730;
}

.bookDetailsContainer{
  text-align: justify;
  padding-right: 30px;
}

span.bookDetailLable {
  font-size: 18px;
  font-weight: 700;
}

.readmore{
  cursor: pointer;
  font-weight: 700;
}

.bookCommentForm {
  width: calc(60% - 30px);
}

.bookCommentInput {
  padding: 15px;
  margin: 20px 0px 0px 0px;
  background: #bfac93;
  border: 1px solid #a5957f;
  font-size: 18px;
  width: calc(100% - 32px);
  color: #3f3730;
}

.bookCommentButton {
  width: 100%;
  border: none;
  background: #3f3730;
  color: #bfac93;
  font-size: 18px;
  padding: 20px;
  font-weight: 700;
  cursor: pointer;
}

.commentsContainer {
  width: 35%;
  height: 535px;
  overflow: overlay;
  margin-left: 35px;
  padding-right: 22px;
  z-index: 0;
}

.commentInfo {
  display: flex;
}

.undefined.react-stars {
  margin-left: 5px;
}

.commentRow {
  border: 5px double #3f3730;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
}

.commentName {
  font-size: 20px;
  font-weight: 700;
  color: #3f3730;
  margin-top: 2px;

}

.commentLname {
  font-size: 20px;
  font-weight: 700;
  color: #3f3730;
  margin-top: 2px;
  margin-left: 5px;
}

.line {
  margin-bottom: 10px;
}

.notFoundcontent {
  height: 370px;
  width: 484px;
  position: fixed;
  top: calc(50% - 185px);
  left: calc(50% - 242px);
  text-align: center;
}

.notFound404{
  font-size: 280px;
  line-height: 1.1;
}